<h1>Acerca de Caffé Quimera</h1>


<!--Imágenes-->

<div class="conImgs">
    <img class="mundoCafe" src="https://1.bp.blogspot.com/-ZPx9ULIj7p4/Xe94FQHDEWI/AAAAAAAAX0Y/LWpwOgCVWekvQ7m6n2NHzg-_7YOh9fKuwCLcBGAsYHQ/s1600/storia-del-caffe.jpg" alt="Mundo del café">
    <img class="mundoCafe" src="https://dhb3yazwboecu.cloudfront.net/1036/articulos/cafe-mundo-v2.jpg" alt="Mundo cafetalero">
</div>


<div class="videoIndex">
<iframe width="560" height="315" src="https://www.youtube.com/embed/ie-prxXbIFY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<!--<img class="mundoCafe" src="https://casaeguia.com/img/leoblog/b/lg-b-que-necesitas-saber-del-cafe-de-origen-blog.jpg" alt="El mundo es café">-->