<p>

El tradicional café de Uruapan, Michoacán, tiene una curiosa historia que se remonta a inicios del México independiente (1824). La historia cuenta que, siendo Primer Ministro de México en Inglaterra José Mariano Michelena, viajó a Tierra Santa, visitando varios lugares, entre ellos la ciudad portuaria de Moca (Al-Mukhā), Yemen, lugar donde consiguió unas matas de café. Tras su regreso a México, ordenó que estas fueran plantadas en la Hacienda de la Parota, cercana a Taretan, Michoacán. Las plantas se adaptaron tan bien que rápidamente se convirtieron en maleza por todo el lugar.
Afirma Eduardo Ruiz que la gente ignoraba el valor del café, por lo cual no se comercializaba, sino que solamente se usaba como planta de adorno de balcones y jardines, puesto que los arbustos eran muy bonitos. Así se transportó por Tacámbaro, Taretan, Los Reyes y Colima. Sin embargo, el café llegó a Uruapan en 1828, introducido por el señor Manuel Farías, quien lo plantó en la 2da calle de Santiago, cerca del hoy Parque Nacional Barranca del Cupatitzio. Fue gracias al general Contreras Medellín, durante la Guerra de Reforma (1858-1861), que se hizo famoso el café que la gente tenía como adorno en sus jardines. Junto al señor Luis Gonzalez Gutierrez, afirmaron que: ¡Era el mejor café del mundo!
Muchas anécdotas se contaron durante la guerra de intervención francesa en Michoacán (1863-1867) al lado de un rico café de Uruapan, por ejemplo: ¡Adiós, mamá Carlota! se creó en Huetamo, Michoacán (1866), mientras degustaba el general Vicente Riva Palacio una taza de este.
Como dato curioso, en la ciudad de Morelia, la que fuera casa de Michelena, hoy funge como una cafebrería que recomiendo mucho por lo hermosa y tranquila que es: Café Michelena.
Taza cortesía de mis amigos de la Asociación de Amigos de la Villa de Magaña, España.
Un café con casi 200 años de historia.
De Michoacán para el mundo.
📚☕


</p>